<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andrewsummers.otashu"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
        	android:name="com.andrewsummers.otashu.MainActivity"
        	android:label="@string/app_name">
        	<intent-filter>
            	<action android:name="android.intent.action.MAIN" />
            	<category android:name="android.intent.category.LAUNCHER" />
        	</intent-filter>
    	</activity>
    	<activity
    		android:name="com.andrewsummers.otashu.CreateNotesetActivity"
    		android:label="@string/app_name">
    		<intent-filter>
    			<action android:name="android.intent.action.MAIN" />
    		</intent-filter>
    	</activity>
    	<activity
    		android:name="com.andrewsummers.otashu.ViewAllNotesetsActivity"
    		android:label="@string/app_name">
    		<intent-filter>
    			<action android:name="android.intent.action.MAIN" />
    		</intent-filter>
    	</activity>
    	<activity
    		android:name="com.andrewsummers.otashu.ViewNotesetDetailActivity"
    		android:label="@string/app_name">
    		<intent-filter>
    			<action android:name="android.intent.action.MAIN" />
    		</intent-filter>
    	</activity>
    	<activity
    		android:name="com.andrewsummers.otashu.ViewNotesetSequenceActivity"
    		android:label="@string/app_name">
    		<intent-filter>
    			<action android:name="android.intent.action.MAIN" />
    		</intent-filter>
    	</activity>
		<activity
    		android:name="com.andrewsummers.otashu.GetRemoteNotesetActivity"
    		android:label="@string/app_name">
    		<intent-filter>
    			<action android:name="android.intent.action.MAIN" />
    		</intent-filter>
    	</activity>
    	<activity
    		android:name="com.andrewsummers.otashu.SettingsActivity"
    		android:label="@string/app_name">
    		<intent-filter>
    			<action android:name="android.intent.action.MAIN" />
    		</intent-filter>
    	</activity>
    </application>
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>
