<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andrewsummers.otashu"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.andrewsummers.otashu.activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.andrewsummers.otashu.activity.CreateNotesetActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.ViewAllNotesetsActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.ViewNotesetDetailActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.ChooseEmotionActivity" />
        <activity
            android:name="com.andrewsummers.otashu.activity.GenerateMusicActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.andrewsummers.otashu.activity.ViewNotesetSequenceActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.GetRemoteNotesetActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.SettingsActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.ExportDatabaseActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.ImportDatabaseActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.CreateEmotionActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.ViewAllEmotionsActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.EditNotesetActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.EditEmotionActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.ViewEmotionDetailActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.DatabaseDumperActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.DatabaseDumperApprenticesActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.DatabaseDumperApprenticeScorecardsActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.DatabaseDumperApprenticeScoresActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.DatabaseDumperBookmarksActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.DatabaseDumperEdgesActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.DatabaseDumperEmotionsActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.DatabaseDumperGraphsActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.DatabaseDumperLabelsActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.DatabaseDumperNotesActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.DatabaseDumperNotesetsActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.DatabaseDumperNotevaluesActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.ApprenticeActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.ViewAllLabelsActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.CreateLabelActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.ViewLabelDetailActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.EditLabelActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.ViewAllBookmarksActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.ViewBookmarkDetailActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.EditBookmarkActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.ViewAllNotevaluesActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.CreateNotevalueActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.EditNotevalueActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.ViewNotevalueDetailActivity" />
        <activity android:name="com.andrewsummers.otashu.OtashuReceiver" />
        <receiver android:name="OtashuReceiver"></receiver>
        <activity android:name="com.andrewsummers.otashu.activity.ViewAllGraphsActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.ViewGraphDetailActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.CreateGraphActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.EditGraphActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.ViewAllApprenticeScorecardsActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.ViewApprenticeScorecardDetailActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.ViewAllApprenticeStrongestPathsByEmotionActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.ViewApprenticeStrongestPathDetailActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.ViewTopApprenticeStrongestPathsActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.ApprenticeEmotionTestActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.ApprenticeScaleTestActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.ApprenticeTransitionTestActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.ViewAllEmotionFingerprintsActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.ViewEmotionFingerprintDetailActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.DatabaseDumperKeySignaturesActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.DatabaseDumperKeyNotesActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.GetEmotionFromNotesetActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.ViewAllApprenticesActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.ViewApprenticeDetailActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.CreateApprenticeActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.EditApprenticeActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.NameApprenticeActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.DataModeMainMenuActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.PlayModeMainMenuActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.ChooseApprenticeActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.ViewAllLearningStylesActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.ViewLearningStyleDetailActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.CreateLearningStyleActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.EditLearningStyleActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.ApprenticeTrainingActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.DatabaseDumperLearningStylesActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.DatabaseDumperAchievementsActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.PlayModeApprenticeActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.DatabaseDumperPathsActivity" />
        <activity android:name="com.andrewsummers.otashu.activity.DatabaseDumperPathEdgesActivity" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />
</manifest>